* {
    box-sizing: border-box;
}

/* SETUP */

/* vars */
:root {
    --clr-1: #ffffff;
    --clr0: #ff7f00;
    --clr1: #e3e3e3;
    --clr2: #7a7a7a;
    --clr3: #040a2c;
}

/* BASE */

/* typography */

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-thin;
    src: url(/fonts/Montserrat/static/Montserrat-Thin.ttf);
}
@font-face {
    font-family: impact;
    src: url(/fonts/Impact/impact.ttf);
}

/* basics */

html {
    font-family: Montserrat;
}

body {
    margin: 0;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0 0;
}

img {
    width: 100%;
}

canvas {
    display: block;
    margin: 0;
    outline: 1px solid black;
    background-color: white;
    width: 330px;
    height: 330px;
}

.canvas-container {
    width: 330px;
    height: 300px;
    margin: 20px 50px;
}

/* header  */

.nav-buttons li a {
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: 1.1875em;
    font-weight: 400;
    padding: 1.3157em 0.2631em;
    text-decoration: none;
}

nav {
    background-color: var(--clr0);
}

.logo {
    width: 133px;
    height: 22px;
    margin-left: 50px;
}

/* main  */

main {
    flex-direction: column;
    flex-grow: 1;
}

.gallery {
    flex-direction: column;
    min-height: 930px;
    background-color: var(--clr1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 165px);
    justify-content: center;

    gap: 10px;
}

/* editor  */

.editor {
    background-color: var(--clr1);
    min-height: 70vh;
    align-items: center;
    flex-direction: column;
    /* flex-basis: 50%; */
}

.editor-buttons {
    flex-direction: column;
    /* margin-right: 135px; */
}

.editor-button {
    width: 1.5625em;
    height: 1.5625em;
}

.editor-button-container {
    margin: 0 0.625em 0 0.625em;
    border-radius: 12px;
    background-color: var(--clr-1);
    width: 2.5em;
    height: 2.5em;
}

.ed-action-button {
    font-size: 1em;
    color: var(--clr-1);
    font-weight: 500;
    font-family: Montserrat;
    width: 7.5em;
    height: 2.5em;
    border-radius: 12px;
    background-color: var(--clr0);
    margin: 0 20px 0 0;
    border-style: none;
}

.ed-first-line-buttons {
    margin-bottom: 50px;
}
.ed-sec-line-buttons {
    margin-bottom: 10px;
}
.ed-third-line-buttons {
    margin-bottom: 20px;
}

.color-button {
    background-image: url(../img/ICONS/paint-board-and-brush.png);
    background-size: cover;
}

.text-line {
    width: 330px;
    height: 40px;
    border-radius: 12px;
    border-style: none;
    margin: 25px 0 10px 0;
    font-size: 1.538em;
}

.my-details {
    background-color: var(--clr-1);
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.my-details .my-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 2.1875em auto 1.125em;
}

.my-note {
    flex-direction: column;
    text-align: center;
}

.my-note h2 {
    font-family: Montserrat, sans-serif;
    color: var(--clr0);
    font-size: 1.375em;
    font-weight: 700;
    margin-bottom: 1.0454em;
}

.my-note p {
    font-family: Montserrat, sans-serif;
    font-size: 0.9375em;
    margin: 0 0 0.9375em 0;
}

.social-icons {
    width: 2.4375em;
    height: 2.4375em;
    background-color: var(--clr0);
    border-radius: 12px;
    margin: 0 0.5625em 3.9375em 0;
}

.icons-container {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.social-icons .facebook {
    width: 13px;
    height: 25px;
}
.social-icons .linkedin {
    width: 27px;
    height: 25px;
}
.social-icons .github {
    width: 25px;
    height: 25px;
}
/* footer  */

footer {
    background-color: var(--clr0);
    flex-direction: column;
}

.logo.logo-bottom {
    margin: 4.8125em 0 1em 0;
}

footer p {
    font-family: montserrat-thin;
    color: var(--clr-1);
    font-size: 1.1875em;
    margin: 0 0 3.8421em 0;
}

/* helpers */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.hide {
    display: none;
}
/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, 340px);
        padding: 60px;
    }

    .my-details {
        background-color: var(--clr-1);
        flex-direction: row;
    }

    .my-details .my-img {
        width: 320px;
        height: 320px;
        border-radius: 50%;
        margin: 5em 2.5em 10.3125em 9.6875em;
    }

    .my-note {
        text-align: left;
    }

    .my-details .my-img {
        width: 320px;
        height: 320px;
        border-radius: 50%;
        /* margin: 5em 2.5em 10.3125em 9.6875em; */
    }

    .my-note h2 {
        font-family: Montserrat, sans-serif;
        font-size: 1.5625em;
        font-weight: 700;
        margin-bottom: 0.71428em;
    }

    .my-note p {
        font-family: Montserrat, sans-serif;
        font-size: 1.25em;
        margin: 0 0 2.5em 0;
    }

    .social-icons {
        width: 2.4375em;
        height: 2.4375em;
        background-color: var(--clr0);
        border-radius: 12px;
        margin: 0 0.5625em 0 0;
    }

    .icons-container {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .editor {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .editor-button {
        width: 2.5em;
        height: 2.4375em;
    }

    .editor-button-container {
        margin: 0 0.625em 0 0.625em;
        border-radius: 12px;
    }

    .ed-action-button {
        font-size: 1.25em;
        color: var(--clr-1);
        font-weight: 500;
        font-family: Montserrat;
        width: 6em;
        height: 3em;
        border-radius: 12px;
        background-color: var(--clr0);
        margin: 0 45px 0 0;
        border-style: none;
    }

    .ed-first-line-buttons {
        margin-bottom: 50px;
    }
    .ed-sec-line-buttons {
        margin-bottom: 10px;
    }
    .ed-third-line-buttons {
        margin-bottom: 20px;
    }

    .editor-button-container {
        background-color: var(--clr-1);
        width: 3.75em;
        height: 3.75em;
    }
    canvas {
        width: 500px;
        height: 500px;
    }
    .canvas-container {
        width: 500px;
        height: 500px;
    }
    .text-line{
        width: 373px;
    height: 60px;
    }
    .ed-action-button {
        font-size: 1.25em;
        width: 6em;
        height: 3em;
    }
}
