* {
    box-sizing: border-box;
}

/* SETUP */

/* vars */
:root {
    --clr-1: #ffffff;
    --clr0: #ff7f00;
    --clr1: #e3e3e3;
    --clr2: #7a7a7a;
    --clr3: #040a2c;
}

/* BASE */

/* typography */

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

/* basics */

html {
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0 0;
}

img {
    width: 100%;
}

canvas {
    display: block;
    margin: 0 auto;
    outline: 1px solid black;
    background-color: white;
}

.canvas-container{
    width: 500px;
    height: 500px;
    padding: 50px;
}


/* header  */

.nav-buttons li a {
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: 1.1875em;
    font-weight: 400;
    padding: 1.3157em 0.2631em;
    text-decoration: none;
}

nav {
    background-color: var(--clr0);
}

.logo {
    width: 133px;
    height: 22px;
    margin-left: 50px;
}


/* main  */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    justify-content: space-between;
    padding: 60px;
    gap:10px    
}

.editor{
    background-color: var(--clr1);
}
/* helpers */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
